
language: android
jdk: oraclejdk8

os: linux
dist: trusty

android:
  components:
  #- platform-tools
  - tools

sudo: required

before_install:
  - git clone https://github.com/iykequame/scripts.git zac6ix/RomBuild/scripts
  - cd $PWD/zac6ix/RomBuild/scripts/setup
  - bash ubuntu1404.sh
  #- mkdir ~/bin
  - PATH=~/home/travis/bin:$PATH
  - curl http://commondatastorage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
  - chmod a+x ~/home/travis/bin/repo
  - mkdir ~/RR
  - cd ~/RR
  - repo init -u https://github.com/ResurrectionRemix/platform_manifest.git -b nougat
  - repo sync -f --force-sync --no-clone-bundle
  - echo "export USE_CCACHE=1" >> ~/.bashrc
  - ~/RR/prebuilts/misc/linux-x86/ccache/ccache -M 50G
  - git clone https://github.com/iykequame/android_device_tecno_Camon_C7.git -b master  device/tecno/Camon_C7
  - git clone https://github.com/iykequame/android_vendor_tecno_Camon_C7.git -b master vendor/tecno/Camon_C7
  - bash /device/tecno/Camon_C7/patches/install.sh
  - . build/envsetup.sh
  - lunch lineage_Camon_C7-userdebug
  - brunch Camon_C7

deploy:
  api_key: "$ZAC6IX_APK"
